.comments-section{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 70px;

    .text-area-section{
        width: 90%;
        .text-area{
            width: 90%;
            margin-right: 20px;
        }
    }
    .comments-area{
        width: 90%;
        .comment{
            width: 100%;
            border-radius: 10px;
            .comment-top-section{
                width: 100%;
                display: flex;
                align-items: center;
                .user-icon-comment{
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }
    
}