.category-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;

    .category-page-top-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .category-page-top-section-left{
            width: 8%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .category-page-top-section-right{
            width: 90%;
            display: flex;
            justify-content: center;
        }
    }

    .card-section-of-categorized-movies{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .card-of-categorized-movie{
            width: 18%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            .categorized-img{
                width: 70%;
            }
        }
    }
}