.movies-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    float: left;
    background-color: black;

    .top-section-favourites{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .cards-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .card{
            width: 18%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: black;
            padding-bottom: 30px;
            cursor: pointer;

            .movie-title{
                text-align: center;
                color:white;
                font-size:15px;
                width: 200px;                
            }

            .poster-img{
                width: 70%;
            }
        }
    }
}